body {
    font-size: 10.5px;
}

.box {
    padding: 10px;
    background-color: #FFF;
    border-radius: 10px;
    margin: 20px;
}

.ram {
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 10px;
    width: 30%;
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: rgb(115, 196, 158);
}

.ram table {
    background-color: #FFF;
}

#hint {
    font-size: 14px;
}

#cpu {
    position: relative;
    height: 95vh;
}

#bus {
    display: flex;
    flex-direction: column;
}

.bus_control {
    position: absolute;
    display: flex;
    bottom: 0px;
    left: 64%;
    top: 0px;
    width: 2%;
    margin: 8px;
    padding: 2px;
    align-items: center;
    border: 2px solid #000;
    justify-content: flex-start;
    background-color: rgb(230, 130, 130);
}

.bus_control h4,
.bus_data h4,
.bus_address h4 {
    width: 20px;
    font-size: 20px;
    letter-spacing: 10px;
    word-wrap: break-word;
}


.bus_data {
    position: absolute;
    display: flex;
    left: 59%;
    top: 0px;
    width: 2%;
    bottom: 0px;
    padding: 2px;
    margin: 10px;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #000;
    background-color: rgb(230, 130, 130);
}

.bus_address {
    position: absolute;
    display: flex;
    bottom: 0px;
    left: 54%;
    top: 0px;
    width: 2%;
    padding: 2px;
    margin: 10px;
    align-items: center;
    border: 2px solid #000;
    justify-content: flex-start;
    background-color: rgb(230, 130, 130);
}

.cpu {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: rgb(98, 112, 240);
}

.decode_unit {
    position: absolute;
    bottom: 0px;
    top: 20%;
    left: 1%;
    width: 33%;
    max-width: 50%;
    padding: 10px;
    overflow-y: scroll;
    background-color: #FFC;
    border: 2px solid #000;
}

.decode_unit table {
    background-color: #FFF;
}

.value,
.value_address,
.value_flag {
    transition: all 0.5s;
}

.value:hover,
.value_address:hover,
.value_flag:hover {
    font-size: 1.5em;
}

.register_address,
.register,
.general_register,
.flag_register {
    position: absolute;
    z-index: 200;
    width: 15%;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #000;
}

.register {
    width: 32%;
}

.general_register {
    display: flex;
    width: 32%;
    text-align: left;
    justify-content: space-between;
    background-color: rgb(217, 218, 157);
}

.flag_register {
    width: 8%;
}

.register:hover,
.general_register:hover {
    width: auto;
    min-width: 32%;
}

.flag_register:hover {
    width: auto;
    min-width: 8%;
}

#reg_pc {
    left: 20%;
    top: 10px;
}

#reg_mar {
    right: 10px;
    top: 10px;
}

#reg_eax {
    left: 39%;
    top: 52%;
}

#reg_mbr {
    right: 10px;
    top: 65%;
}

#reg_ir {
    right: 10px;
    top: 75%;
}

#reg_r1 {
    left: 38%;
    top: 15%;
}

#reg_r2 {
    left: 38%;
    top: 18%;
}

#reg_r3 {
    left: 38%;
    top: 21%;
}

#reg_r4 {
    left: 38%;
    top: 24%;
}

#reg_r5 {
    left: 38%;
    top: 27%;
}

#reg_r6 {
    left: 38%;
    top: 30%;
}

#reg_of {
    left: 85%;
    top: 30%;
}

#reg_cf {
    left: 85%;
    top: 37%;
}

#reg_zf {
    left: 85%;
    top: 44%;
}

#alu,
#cu {
    position: absolute;
    width: 30%;
    padding: 10px;
    display: block;
    text-align: center;
    border: 1px solid #000;
}

#alu {
    left: 38%;
    top: 37%;
    background-color: #39F;
}

#cu {
    right: 10px;
    bottom: 10px;
    background-color: #390;
}

#drawing {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}

.btn {
    margin: 10px;
}

.form-group label {
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.value_binary:hover:before {
    font-family: FontAwesome;
}

.value_denary:hover:before {
    font-family: FontAwesome;
}

.value_hex:hover:before {
    font-family: FontAwesome;
}

.edit-text {
    text-align: center;
}

.fetch_decode_execute {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.fetch {
    background-color: #F00;
}

.decode {
    background-color: #0F0;
}

.execute {
    background-color: #00F;
    color: #FFF;
}

@keyframes highlight {
    from {
        box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
    }

    to {
        box-shadow: 0px 0px 30px rgba(255, 0, 0, 1);
    }
}

.active {
    animation: highlight 2s linear infinite alternate;
}

.current_instruction::after {
    content: " \f04b ";
    font-family: FontAwesome;
}